<!-- app-accountcard.component.html -->
<div class="card">
  <div class="avatar-holder">
    <img src="https://th.bing.com/th/id/OIP.-pMBRAEV0I8oNPHctpponAHaHa?pid=ImgDet&w=828&h=828&rs=1" alt="{{ firstName }}">
  </div>
  <div class="name">
    <a href="#" target="_blank">{{ firstName }}</a>
    <h6 title="Email">{{ emailAddress }}</h6>
    <h6 title="Phone Number">{{ phoneNumber }}</h6>
    <h6 title="Status">{{ status }}</h6>
    <!-- <h6 title="Plan Status">{{ status }}</h6> -->
  </div>
</div>
