<!-- app-accountcard.component.html -->
<div class="card">
  <div class="avatar-holder">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1820405/profile/profile-512.jpg?1533058950" alt="{{ firstName }}">
  </div>
  <div class="name">
    <a href="#" target="_blank">{{ firstName }}</a>
    <h6 title="Email">{{ emailAddress }}</h6>
    <h6 title="Phone Number">{{ phoneNumber }}</h6>
    <h6 title="Status">{{ status }}</h6>
    <!-- <h6 title="Plan Status">{{ status }}</h6> -->
  </div>
</div>
