@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.nav-link.active{
    background-color: rgb(153, 0, 0);
    border-radius: 5px;
   
    color: #ffffff;
}
/* Style for "Pro" text */
.pro-text {
    color: white;
    font-weight: bold;
    
}
.nav-item i  {
   font-size: 12px;
   

}
.nav-item a  {
   font-size: 14.5px;
   font-family: 'Montserrat', sans-serif;

}
.nav-item button {
    font-size: 14.5px;
 }

/* Style for "WaveX" text */
.wave-text {
    color: white;
    font-weight: bold;
}
.nav-item li{
    word-spacing: 10px;
}
/* Adjust the padding for the logo to control spacing */
.navbar-brand {
    padding-right: 10px;
}

/* Add margin-right to the navbar links for spacing */
.nav-link {
    margin-right: 15px; /* Adjust the value as needed to control the spacing */
}
.logo-text{
    color: black;
}
.container{
    z-index: 1000;
}