<app-authnavbar></app-authnavbar>
<section class="home-two-banner">
    <div class="banner-before-after">
        <span> <img src="https://template.viserlab.com/viserfix/demos/assets/images/home-02/banner/shape-01.png" alt=""> </span>
        <span> <img src="https://template.viserlab.com/viserfix/demos/assets/images/home-02/banner/shape-02.png" alt=""> </span>
        <span> <img src="shape-03.png" alt=""> </span>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h6 class="subtitle">THE FASTEST PREPAID MOBILE EXPERIENCE</h6>
                    <h1 class="title" style="font-size: 50px;font-weight: 500;">SURF THE FASTLANE WITH OUR PREPAID MOBILE PLANS</h1>
              
                
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-right-image">
                    <img src="https://template.viserlab.com/viserfix/demos/assets/images/home-02/banner/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



