@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,rgba(173, 1, 1, 0.815),#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #0e0e0ec1;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background:rgb(57, 0, 0);
  transition: 0s;
 
  box-shadow: 0 0 5px 0 rgb(94, 0, 0);
}

section .signin
{
  position: absolute;
  width: 400px;
  background: #000000;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(88, 0, 0, 0.662);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color:rgb(32, 6, 112);
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.glowing-text {
  text-align: center;
  color: rgb(255, 5, 5);
  font-size: 18px; /* Adjust the font size as needed */
  animation: glow 1s infinite alternate; /* Apply the glow animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Adjust the shadow color and size */
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 66, 66, 0.8); /* Adjust the shadow color and size */
  }
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
/* loginhome.component.css */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    --pink: #ff0077;
    --purple: #600b81;
    --gradient: linear-gradient(var(--pink), var(--purple));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Chakra Petch", sans-serif;
}

.container1 {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://img.freepik.com/premium-photo/3d-illustration-4k-uhd-abstract-background-dark-endless-tunnel-shape-triangle-with-red-yellow-neon-lights_129677-1597.jpg?w=1060");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.height-100 {
    height: 100vh
}
.glowing-text  {
   font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 25px; /* Adjust the font size as needed */
    animation: glow 1s infinite alternate; /* Apply the glow animation */
  }
   
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Adjust the shadow color and size */
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 87, 87, 0.8); /* Adjust the shadow color and size */
    }
  }
  

.card {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #01254e54;
    z-index: 1;
    background-color: rgba(130, 130, 130, 0.281);
    display: flex;
    justify-content: center;
    align-items: center
}



.inputs input {
    width: 40px;
    height: 40px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: red
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid red
}

.validate {
    border-radius: 20px;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    width: 140px
}
  